@import '../../styles/_variables.module.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
    margin: 1rem 0;
  }
}

.title-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 2.5rem;

  h1 {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
  }
  p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .description {
    font-size: 0.9rem;
    padding: 0 1rem 1rem;
    margin: 0.5rem 0;
    h3 {
      margin: 1.2rem 0;
      text-align: center;
    }
  }
}

.line {
  width: 10rem;
  border-bottom: 1px solid white;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
}
