.container {
  display: flex;
  border: 1px solid white;
  height: 2rem;
  width: 20rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
}

@media only screen and (max-width: 340px) {
  .container {
    width: 90%;
    height: 4rem;
  }
}
