.container {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.background {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.842);
  z-index: 1;
}

.modal-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    z-index: 2;
    color: black;
    position: absolute;
    background-color: white;
    width: 10rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    .options {
      margin: 0.5rem 0;
      padding: 0.2rem;
    }
  }
}
