.container {
  display: flex;
  align-items: center;
  margin: 1rem 1.5rem 0;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;

  .coin-info,
  .price-info {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.7rem;
      height: 1.1rem;
    }
  }

  .coin-info {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    align-items: center;

    .rank {
      display: flex;
      justify-content: flex-start;
      width: 2rem;
    }

    .image {
      margin-right: 0.8rem;
      background-color: rgb(255, 255, 255);
      box-shadow: 1px 1px 3px rgb(0, 0, 0);
      img {
        width: 1rem;
      }
    }

    .name {
      display: flex;
      justify-content: center;
      width: 5rem;
      text-align: center;
      height: 100%;
    }

    .ticker {
      display: flex;
      justify-content: center;
      width: 3rem;
      height: 100%;
    }
  }

  .price-info {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;

    .change {
      display: flex;
      justify-content: flex-end;
    }

    .down {
      color: red;
    }

    .up {
      color: green;
    }

    .price {
      display: flex;
      justify-content: flex-end;
      width: 5rem;
    }
  }
}

@media only screen and (max-width: 318px) {
  .container {
    .name {
      display: none;
    }
  }
}
