@import '../../styles/_variables.module.scss';

.container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 0;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.034);
  }

  .coin-info,
  .price-info {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      height: 1.3rem;
    }
  }

  .coin-info {
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;

    .rank {
      display: flex;
      justify-content: flex-start;
      width: 2rem;
    }

    .image {
      margin: 0 0.8rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 2rem;
    }

    .name {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      text-align: left;
      height: 100%;
      margin-right: 0.3rem;
      font-weight: thin;
    }

    .ticker {
      display: flex;
      justify-content: flex-end;
      width: 4rem;
      height: 100%;
      font-weight: bold;
    }
  }

  .price-info {
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;

    .down {
      color: red;
      display: flex;
      width: 4rem;
      justify-content: flex-end;
      align-items: center;
      margin: 0 0.5rem;
    }

    .up {
      color: green;
      display: flex;
      width: 4rem;
      justify-content: flex-end;
      align-items: center;
      margin: 0 0.5rem;
    }

    .price {
      display: flex;
      justify-content: flex-end;
      width: 6rem;
    }
  }
}

@media only screen and (max-width: 410px) {
  .container {
    .coin-info {
      width: 45%;
      .name {
        display: none;
      }
    }

    .price-info {
      width: 55%;
    }
  }
}
