.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1.5rem 0;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;

  div {
    display: flex;
    margin: 0 0.2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.7rem;
    height: 1.5rem;
  }

  .rank {
    width: 1rem;
  }

  .image {
    width: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.5rem;
    img {
      width: 1rem;
    }
  }

  .name {
    width: 6rem;
  }

  .ticker {
    width: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0.5rem;
  }

  .change-down {
    width: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: red;
  }

  .change-up {
    width: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: green;
  }

  .price {
    display: flex;
    width: 5rem;
    justify-content: flex-end;
    align-items: center;
  }
}
