.container {
  position: sticky;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100%;
  padding: 1.3rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
}
