@import '../../styles/variables.module';

.container {
  padding: 1rem 0rem;
  margin: 1rem 1.5rem 0;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);

  .buttons-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    

    button {
      color: var(--border-color);
      background-color: transparent;
      border: none;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}
