.buttons-container {
  padding: 0 0.9rem;
  margin: 1rem;
  display: flex;
  justify-content: flex-end;

  .buttons-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    button {
      color: white;
      background-color: transparent;
      border: none;
      font-size: 1rem;
    }
  }
}
