.container {
  width: 23rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color);
  margin: 1rem;
  padding: 0 1rem;
  cursor: pointer;

  &:hover {
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    p {
      border-left: 1px solid var(--hover-color);
    }
  }

  p {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid var(--border-color);
    height: 80%;
  }
}

@media only screen and (max-width: 465px) {
  .container {
    width: 90%;

    p {
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
}
