.container {
  width: 100%;

  h1 {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.articles-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
