.container {
  width: 18rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  margin: 1rem;
  padding: 0 1rem;
  cursor: pointer;

  &:hover {
    color: grey;
  }

  p {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 1rem;
  }
}
